<footer class="footer">
  <div class="container flex">
    <div class="copyright">
      &copy; 2014 <a href="#" class="copyright__bold">tulus</a>driyo. All Rights Reserved.
    </div>
    <ul class="social">
      <li class="social__item">
        <a href="#" class="social__link" target="blanck">
          <i class="social__icon fab fa-behance"></i>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" target="blanck">
          <i class="social__icon fab fa-linkedin"></i>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" target="blanck">
          <i class="social__icon fab fa-google"></i>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" target="blanck">
          <i class="social__icon fab fa-facebook"></i>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" target="blanck">
          <i class="social__icon fab fa-twitter"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>