<header
  id="hero"
  class="header"
  style="background-image: url(img/bg-header.jpg);"
>
  <nav class="nav headroom fixed-top" id="nav">
    <div class="container flex flex--nav">
      <a class="nav__logo svg" href="#">
        <svg class="nav__svg"  viewBox="0 0 53.531 72">
          <use xlink:href="#logo" />
        </svg>
      </a>

      <ul class="nav__items">
        <li class="nav__item">
          <a href="#" class="nav__link active">HOME</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link">ABOUT</a>
        </li>
        <li class="nav__item">
          <a href="#services" class="nav__link">SERVICES</a>
        </li>
        <li class="nav__item">
          <a href="#works" class="nav__link">works</a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link">CONTACT</a>
        </li>
      </ul>
      <div class="nav__toggle svg">
        <svg class="nav__svg nav__svg--toggle" viewBox="0 0 31 15">
          <use xlink:href="#toggle" />
        </svg>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="header__content flex">
      <h1 class="header__title">CreativE DIGITAL Project</h1>
      <div class="header__subtitle">
        Duis mollis, est non commodo luctus, <br />nisi erat porttitor ligula,
        eget lacinia odio sem nec elit.
      </div>
    </div>
  </div>
</header>
