// $brand-color: rgba(159, 154, 207, 0.2);
$brand-color: rgb(159, 154, 207);
$text-color: #665f60;
$white: #fefefb;
$gray: #dbdbdb;
$gray-light: #ebebeb;

$text-font: 'PT Sans', sans-serif;
$title-font: 'ProximaNova', sans-serif;
